* {
  font-family: "Inter", sans-serif;
}

* {
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

:root {
  --background: 0 0% 100%;
  --foreground: 115 5% 0%;
  --card: 115 50% 90%;
  --card-foreground: 115 5% 10%;
  --popover: 115 100% 95%;
  --popover-foreground: 115 100% 0%;
  --primary: 115 58.5% 36.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 115 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 77 30% 85%;
  --muted-foreground: 115 5% 35%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 115 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 115 5% 90%;
  --border: 115 30% 50%;
  --input: 115 30% 18%;
  /* --ring: 115 58.5% 36.9%; */
  --radius: 0.5rem;
}
.dark {
  --background: 115 50% 5%;
  --foreground: 115 5% 90%;
  --card: 115 50% 0%;
  --card-foreground: 115 5% 90%;
  --popover: 115 50% 5%;
  --popover-foreground: 115 5% 90%;
  --primary: 115 58.5% 36.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 115 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 77 30% 15%;
  --muted-foreground: 115 5% 60%;
  --accent: 77 30% 15%;
  --accent-foreground: 115 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 115 5% 90%;
  --border: 115 30% 18%;
  --input: 115 30% 18%;
  /* --ring: 115 58.5% 36.9%; */
  --radius: 0.5rem;
}

:root {
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --input: 210 14% 89%;
}

.search-btn {
  transition: background-color 200ms;
  border: #f0f0f0 solid 2px;
}

.search-btn:hover {
  background-color: #f5f5f5 !important;
}

.search-btn:active {
  background-color: #f0f0f0 !important;
}

.paw {
  transform: matrix(-0.16, -0.39, -0.59, 0.06, -16.7, 0) translateX(52px)
    translateY(-42.5px);
  position: absolute;
}

nav {
  --decoration-left: 53%;
  --decoration-width: 0;
  z-index: 50;
}

.nav-item > a {
  transition: color 200ms;
  color: #4b5563;
  border-bottom: 3px solid transparent;
}

.nav-item > a:hover {
  color: #111827;
}

.nav-active {
  border-bottom: 3px solid #319527 !important;
  color: #319527 !important;
}

.menu-btn {
  border-bottom: 3px solid transparent;
}

/* .nav-active {
    height: 85%;
    margin-bottom: -24px;
    font-weight: 600;
    color: black;
  } */

.long-shadow {
  box-shadow: 0px 7px 40px 20px rgba(0, 0, 0, 0.05);
}

#nprogress .bar {
  background: #319528 !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 55;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.693);
}

.modal-content {
  background-color: #fefefe;
  max-width: 450px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}

input:disabled {
  background-color: #fff;
}

.dropdown-item {
  padding: 8px !important; /* Adjust padding as needed */
}

.dropdown-item:active {
  background-color: #319527;
}

*:focus {
  outline: none;
}

.menu-border {
  border: 2px solid #ececec !important;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

a:hover {
  color: inherit;
}

.reply-container {
  border-left: 3px solid #e4eee3;
  padding-left: 15px;
}

/* media less than 768px */
/* @media (max-width: 769px) {
  .post-container {
    zoom: 0.85;
  }

  .post-container * {
    zoom: 0.98;
  }

  .post-container-post {
    zoom: 0.85;
  }

  .post-container-post * {
    zoom: 1.002;
  }
} */

@media (max-width: 1023px) {
  .blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
  }
}

@media (max-width: 1279px) {
  #bottom-sidebar {
    display: block;
  }

  #root {
    flex-direction: column;
  }

  #top-users {
    max-width: 679px;
  }

  #top-bar {
    display: flex;
    max-width: 679px;
    margin: 0 auto;
  }
}

hr {
  /* border-top: 2px solid #d3d3d3; */
  background-color: #aaaaaa;
}

.blur-effect {
  -webkit-filter: blur(100px);
  filter: blur(100px);
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.border-right {
  border-right: 1px solid #aaaaaa;
}

.prose code::before {
  content: "";
}

.prose code::after {
  content: "";
}

code {
  display: inline-block;
  background-color: #f7f7f8; /* Light gray background */
  color: #d63384; /* Soft pinkish-purple text color */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; /* Monospaced font */
  font-size: 0.95em; /* Slightly smaller font size */
  padding: 2px 4px; /* Add a little padding for inline code */
  border-radius: 4px; /* Rounded corners */
  white-space: pre-wrap; /* Wrap content if needed */
}

.prose > ul > li > :first-child {
  margin-top: 0;
}

blockquote {
  background-color: #f7f7f8; /* Light gray background */
  border-left: 4px solid #d0d7de; /* Left border to indicate blockquote */
  color: #2d2d2d; /* Dark gray text for readability */
  margin: 1em 0; /* Vertical spacing around the blockquote */
  padding: 0.5em 1em; /* Inner padding for spacing */
  font-style: italic; /* Slightly italicize the text */
  font-size: 1em; /* Standard font size */
  border-radius: 4px; /* Optional: rounded corners for modern look */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}

blockquote p {
  margin: 0; /* Remove default margins from paragraphs inside blockquote */
}

.border-top {
  border-top: 1px solid #aaaaaa;
}

.border-all {
  border: 1px solid hsl(var(--card));
}

input[type="radio"] {
  accent-color: #319527;
}

.prose hr {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.prose > ul > li > :first-child {
  margin-bottom: 0 !important;
}

.prose p {
  margin-top: 0.75em !important;
  margin-bottom: 0.75rem !important;
}

.prose ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.container-footer {
  margin: 0 auto;
  max-width: 830px;
}

.container-main {
  max-width: 750px;
  margin: 0 auto;
}

.sticky-reaction-bar {
  position: sticky;
  top: 80px;
}

.tab-button {
  background-color: #f7f7f8; /* Light gray background */
  /* Light gray background */
}

.tab-button-active {
  /* Soft pinkish-purple text color */
  color: #319527;
  background-color: white;
}

.bor-bottom {
  border-bottom: 1px solid #d0d7de;
}

.bor-right {
  border-right: 1px solid #d0d7de;
}

.bor-left {
  border-left: 1px solid #d0d7de;
}
